certifi==2023.7.22
charset-normalizer==2.0.12
configobj==5.0.6
exif==1.4.2
filedate==2.0
idna==3.3
numpy==1.22.3
pandas==1.4.2
plum-py==0.8.5
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
six==1.16.0
swat==1.6.1
urllib3==1.26.9
